// libraries
@import "bootstrap";

// "resets"
body {
  font-size: $font-size-base;
}

.underline {
  text-decoration: underline;
}

// character analysis section
.char-analysis {
  margin-bottom: 64px;

  ul li {
    margin: 6px 0px;

    span {
      font-weight: bold;
      font-size: $font-size-base * 1.2;
    }
  }

}
